<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram Soru Post Hazırlayıcı</title>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div ref="canvasContainer"></div>
    <form>
      <div>
        <label for="soru">Soru:</label>
        <input type="text" id="soru" v-model="soru">
      </div>
      <div>
        <label for="opt1">Şık 1:</label>
        <input type="text" id="opt1" v-model="opt1">
      </div>
      <div>
        <label for="opt2">Şık 2:</label>
        <input type="text" id="opt2" v-model="opt2">
      </div>
      <div>
        Satır Adedi: {{ satirAdet }}
      </div>
    </form>

    {{soru}}
  </div>

  <script src="js/index.js"></script>
</body>

</html>